{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol">
                <option disabled selected value="">Symbol</option>
                {% for row in holdings %}
                    <option>{{ row["symbol"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input name="shares" class="form-control" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}